<!DOCTYPE html>
<html>
<head>
  <title>MyReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
<% if current_user %>
<li><%= "Logged in as #{current_user.username}" %></li>
<li><%= link_to "Create a sub!", new_sub_url %></li>
<li><%= link_to "All Subs", subs_url %></li>
<%=button_to "Logout", session_url, method: :delete%>
<% end %>
  </ul>
<%= yield %>

</body>
</html>
